*
{
    margin:0;
    padding:0;
}
body
{
    font-family:sans-serif;
    background-color: black;
}
#nav-bar
{
    position:sticky;
    top:0;
    z-index: 20;
}
.navbar
{
    background-image: url('https://pbs.twimg.com/media/E5pUn4DXEAUjh_O?format=png&name=large');
    background-size: cover;
    background-repeat: repeat-x;
}
span.butoon {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
}
